        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f9;
        }

        .container {
            width: 90%;
            max-width: 500px;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        }

        button.btn-top {
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            width: 48%
        }

        .navigation {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .navigation button {
            flex: 1;
            margin: 0 5px;
        }

        .section {
            display: none;
        }

        .section.active {
            display: block;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 5px 0;
        }

        button:hover {
            background-color: #0056b3;
        }

        @media (max-width: 640px) {
            .container {
                padding: 15px;
                margin: 10px;
            }

            input,
            button.btn {
                font-size: 16px;
                padding: 10px;
            }

            button.btn-top {
                width: 100%;
                /* Botões ficam em linha única em telas pequenas */
                margin-bottom: 10px;
            }

            h1 {
                font-size: 22px;
            }

            label {
                font-size: 11px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            display: none;
            /* Inicialmente oculta */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f8f9fa;
            color: #333;
        }

        td {
            background-color: #fff;
            color: #555;
        }

        td:hover {
            background-color: #f1f1f1;
        }

        .no-results {
            text-align: center;
            padding: 20px;
            color: #888;
            font-style: italic;
        }